/* line 3, ../sass/_mixin.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 8, ../sass/_mixin.scss */
.cf:after {
  clear: both;
}

/* line 3, ../sass/_grid.scss */
.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 10, ../sass/_grid.scss */
.row {
  width: 100%;
  float: left;
  margin-bottom: 0.25em;
}
/* line 3, ../sass/_mixin.scss */
.row .cf:before,
.row .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 8, ../sass/_mixin.scss */
.row .cf:after {
  clear: both;
}

/* line 18, ../sass/_grid.scss */
.columns, .column_1, .column_2, .column_3, .column_4, .column_5, .column_6, .column_7, .column_8, .column_9, .column_10, .column_11, .column_12 {
  float: left;
  height: 100%;
  display: inline;
  background: #cccccc;
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding: 0.5em;
}

/* line 29, ../sass/_grid.scss */
.column_1 {
  width: 7.3333%;
}

/* line 29, ../sass/_grid.scss */
.column_2 {
  width: 15.6666%;
}

/* line 29, ../sass/_grid.scss */
.column_3 {
  width: 23.9999%;
}

/* line 29, ../sass/_grid.scss */
.column_4 {
  width: 32.3332%;
}

/* line 29, ../sass/_grid.scss */
.column_5 {
  width: 40.6665%;
}

/* line 29, ../sass/_grid.scss */
.column_6 {
  width: 48.9998%;
}

/* line 29, ../sass/_grid.scss */
.column_7 {
  width: 57.3331%;
}

/* line 29, ../sass/_grid.scss */
.column_8 {
  width: 65.6664%;
}

/* line 29, ../sass/_grid.scss */
.column_9 {
  width: 73.9997%;
}

/* line 29, ../sass/_grid.scss */
.column_10 {
  width: 82.333%;
}

/* line 29, ../sass/_grid.scss */
.column_11 {
  width: 90.6663%;
}

/* line 29, ../sass/_grid.scss */
.column_12 {
  width: 98.9996%;
}

/* line 1, ../sass/_typography.scss */
body {
  line-height: 24px;
  font-size: 1.2em;
}

/* line 6, ../sass/_typography.scss */
form, input[type="submit"], h1, h2, h3, h4, h5, h6, a {
  font-family: 'Lily Script One', cursive,serif;
}

/* line 1, ../sass/_form.scss */
form {
  color: #3a2a2b;
  background: grey;
}
/* line 4, ../sass/_form.scss */
form label {
  display: block;
  font-size: 1.2em;
}
/* line 12, ../sass/_form.scss */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form textarea {
  width: 300px;
  border: 1px solid #867877;
  padding: 0.6em;
  outline: none;
  background: #f2e9e1;
}
/* line 18, ../sass/_form.scss */
form input[type="text"]:hover, form input[type="text"] focus,
form input[type="password"]:hover,
form input[type="password"] focus,
form input[type="email"]:hover,
form input[type="email"] focus,
form textarea:hover,
form textarea focus {
  background: #e3cfbd;
}
/* line 23, ../sass/_form.scss */
form fieldset {
  border: 1px solid #190230;
}
/* line 28, ../sass/_form.scss */
form legend {
  padding: 10px;
  border: 1px solid #190230;
  background: #89091a;
  color: white;
  font-size: 1.5em;
  box-shadow: 3px 3px 10px black;
  -webkit-box-shadow: 3px 3px 10px black;
}
/* line 37, ../sass/_form.scss */
form input[type="submit"] {
  border: none;
  background: #89091a;
  padding: 10px;
  color: white;
  font-size: 1em;
  box-shadow: 3px 3px 10px black;
  -webkit-box-shadow: 3px 3px 10px black;
}
/* line 44, ../sass/_form.scss */
form input[type="submit"]:hover {
  background: #710715;
  box-shadow: none;
  cursor: pointer;
}
/* line 50, ../sass/_form.scss */
form span {
  display: block;
}
/* line 53, ../sass/_form.scss */
form .error {
  display: none;
  color: #a11517;
  font-size: 0.8em;
}

/* line 1, ../sass/_global.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_global.scss */
body {
  background: bodyBackground;
}

/* line 10, ../sass/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 3, ../sass/_nav.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 8, ../sass/_nav.scss */
nav li {
  display: inline-block;
  line-height: 1.5em;
  font-size: 1.2em;
  float: right;
  margin-right: 1em;
}
/* line 15, ../sass/_nav.scss */
nav li a {
  text-decoration: none;
  color: #000000;
  padding: 5px;
}
/* line 19, ../sass/_nav.scss */
nav li a:hover {
  background: #89091A;
  color: #FFFFFF;
}
